<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>maze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45331C761E08FC7E00E3B668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45331C961E08FC7E00E3B668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45331CA11E08FC7E00E3B668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
